h1
{
 color: #a3a3c2;
}
h2
{
 border-style: dashed;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: red;
 color: #a3a3c2;
}
h3 
{
    font-size: 7em;
    background-color: ##C0C0C0;
    margin: 75px;
    padding: 75px;
}
p
{
	background-color: tan;
	color: red;

}
a
{
	font-weight:bold;
}
